.App {
  text-align: -webkit-center;
  font-family: "Poppins", sans-serif;
  color: #343434;
}

a {
  text-decoration: none;
  color: inherit;
}
/* App.css */

.content-container {
  margin-top: 80px; /* Adjust based on the navbar height */
}
